
.blur {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  
 
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  background-image: linear-gradient(to right, #080849, #4f1d79);
}

.header {
  display: flex;
  width: 74%;
  justify-content: space-between;
  align-items: center;
  color: var(--on-primary);
  position: fixed;
  z-index: 4;
  top: 0;
  background-color: #2b2929;
  backdrop-filter: blur(20px);
  padding: 1rem 3rem;
  border-radius: 20px;
  height: auto;
  min-height: 4rem;
  border: 0.03px solid #47187ee5;
  flex-wrap: wrap;
  margin-left: 10%;
  transition: all 0.3s ease;
  background-image: linear-gradient(to right, #050541, #420e6d);
}


.logo {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
    
}   

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1.25rem;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menu__item a {
  color: #eee;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  transition: color 0.2s;
}

.menu__item a:hover {
  color: #931f94;
  
}

.menu__item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
}



.panel.is-active{
  transform: translate(0,0);
  backdrop-filter: blur(13px);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #9400ff;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #9400ff;
}

.hero {
  padding: 20px;
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  color: var(--on-primary);
  background: var(--hero-bg);
  animation: presentation 3s linear forwards;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

	
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.text_content {	
  font-size: 2.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  height: 22rem;  
}


.hero__pic {
  width: 80%;
  max-width: 400px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  animation: floatingIcon 3s ease infinite 0.4s;
  height: auto; 
}

.hero__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
  font-size: 2%;
  
}

.hero__icon {
  font-size: 1.9rem;
}

.hero__icon:hover {
  transform: scale(1.2);
}





/* seccion portafolio */

.products {
  padding: 2rem;
 
}

.product {
  text-align: center;
  padding: 30px;
  box-shadow: -1px -2px 4px 3px #5f5e5e75;
  border-radius: 14px;
  height: 300px;
  width: 90%;
 
  
}

.products h2 {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
  
}

.product-txt h3 {
  font-size: 20px;
  text-align: center;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;  
}

.product video {
  width: 100%;
  border-radius: 8px;
}


.btn-2 {
  display: inline-block;
  padding: 20px;
  background-image: linear-gradient(to right, #080849, #4f1d79);
  color: #f0e6f0;
  border-radius: 15px;
  border: 2px solid rgb(82, 80, 80);
  font-size: 13.5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 30%;
  height: 4px;
  cursor: pointer;
  transition: .5s ease-in-out;
  text-decoration: none;
  line-height: 0%;
  margin-right: 14px;
}

.btn-2:hover {
  background-color: #f0e6f0;
  color: #9917b3;
  
}

.product-content:hover .product img {
  transform: scale(1.2);

} 

.product img, .product video {
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.project-buttons button:hover {
  background-color: #b647b6; /* Color de fondo al pasar el ratón */
}


.card-portafolio:hover .card__img {
  transform: scale(1.2);
}

 
.iconify__icon{
  font-size: 1.6rem;
}


/* skills */

.skills {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15rem 0;
}

.skills__title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__container {
  align-self: center;
  display: flex;
  width: 40%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  height: 190px;
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 14px;
  padding: 1rem;
  background-color: #9500ff67;
  z-index: 5;
  backdrop-filter: blur(1px);
  border: 1px solid rgba(0, 255, 255, 0.13);
}

.card:hover {
  border: 3px solid rgba(57, 1, 112, 0.69);
  background-color: rgba(111, 0, 255, 0.13);
}

.card__icons {
  font-size: 8.5rem;
}
  
.card:hover > .card__icons {
  animation: floatingIcon 3s ease infinite 0.4s;
}

.card__icons--javascript {
  font-size: 8.5rem;
  margin-bottom: 3px;
}

  
.card__title {
  margin-top: 6px;
  font-size: var(--middle-size);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-color);
}

 


/*section about */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 3rem 1rem;
  height: 400px;
    
}

.about__container {
  display: flex;
  justify-content: space-between;
  padding: 25rem;
  
}


.about_content {
  display: flex;
	flex-direction: column;
	max-width: 70rem;
	gap: 2.1rem;
	justify-content: center;
}

.about_content h1 {
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.6rem;
  text-align: right;
  margin-top: -35px;
  transform: translateY(-260px);
  margin-right: 4%; 
 
}

.about_img {
  width: 80%;
  max-width: 30rem;
}


.about_text {
  font-size: 1.4rem;
  font-family: "Lora", serif;
  text-align: right;
  margin-left: 45%;
  margin-right: 2%;
  margin-top: -310px;
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}



/* section contact */

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  height: 90dvh;
  background: var(--gradient-blue);
}

.contact__title {
  font-size: 30px;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
  align-items: stretch;
  max-width: 430px;
  background: rgb(106, 106, 143);
  padding: 0 2rem;
  height: 76vh;
  justify-content: center;
  border-radius: 18px;
  gap: 4px;
}

.form__label {
  font-size: 20px;
  color: white;
    
}

.form__input {
  font-size: 20px;
  padding: 1rem 0;
}

.form__textarea {
  font-size: 20px;
  resize: none;
  height: 50px;
  margin-bottom: 30px;
}

.form__btn {
    width: 100%;
    max-width: 200px;
    align-self: center;
    background: black;
    color: white;
    padding: 2rem;
    border-radius: 11px;
    border: 1px solid white;
}

.form__btn:hover {
    background-color: rgb(239, 239, 239);
    border: 2px solid black;
    color: black;
    -webkit-animation: jello-horizontal 1s both;
    animation: jello-horizontal 1s both;
}

/* sectionn footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 17dvh;
  align-items: center;
  background: #101010;
}

.logo {
  font-size: 28px;
}

.footer__social .btn {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  margin: 0 10px;
}

.footer__social .btn .bi-linkedin {
  color: #0e76a8; 
  font-size: 1.5rem; 
  background-color: transparent;
  
}

.footer__social .btn .bi-whatsapp {
  color: #25D366; 
  font-size: 1.5rem; 
}

.footer__social .btn .bi-envelope-check {
  color: #007bff; 
  font-size: 1.5rem; 
}

.footer_link {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .menu__item a {
    font-size: 1.8rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hero__pic {
    width: 80%;
  }

  .products {
    grid-template-columns: 1fr;
  }

  .skills__container {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .about_img {
    max-width: 250px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }


}

@media screen and (min-width: 1200px) {
  .header {
    padding: 1rem 5rem;
  }

  .hero {
    padding: 4rem 0;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .skills__container {
    width: 50%;
  }

  .about_img {
    max-width: 350px;
  }
}
  



/* animation css */

@keyframes floatingIcon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes text-blur {
  0% {
    opacity: 0;
    filter: blur(12px);
    -webkit-filter: blur(12px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}
  
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
